{% if site.bib_search %}
  <script src="{{ '/assets/js/bibsearch.js' | relative_url | bust_file_cache }}" type="module"></script>
  <script src="{{ '/assets/js/bibtags.js' | relative_url | bust_file_cache }}" type="module"></script>
  <input type="text" id="bibsearch" spellcheck="false" autocomplete="off" class="search bibsearch-form-input" placeholder="Type to filter">

  <div class="bib-tags-container">
    <button class="bib-tag-btn active" data-tag="all">All</button>
    <button class="bib-tag-btn" data-tag="robotics">Robotics</button>
    <button class="bib-tag-btn" data-tag="healthcare">Healthcare</button>
    <button class="bib-tag-btn" data-tag="system">System</button>
  </div>
{% endif %}
